{{#song}}
<iframe src="https://embed.spotify.com/?uri={{url}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/song}}
{{#playlist}}
<iframe src="https://embed.spotify.com/?uri={{url}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/playlist}}
