#input 
	height: 100px
	float: left
	padding: 20px

#meta  
	float: left
	margin-top: 20%
	width: 300px
	margin-left: -260px
	position: absolute bottom

input 
	font-size: 2em

#drop 
	position: fixed
	z-index: 5000
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: transparent

