<form action="#" method="post" id="geocode">
	<input type="text" value="" id="address" name="url" />
	<input id="geocode_button" style="display: none;" type="button" value="Go!" class="btn" />
</form>

<div id="info">
  <h2>About</h2>
  <p>Putaspot is a simple but awesome service/framework for geo based discovery and sharing of all kinds of digital content. It was put together by Niklas Lindblad and Nicklas Nygren on a boring day in June.</p>
  <h2>Try it out</h2>
  <p>Just click anywhere on the map and paste the url that you want to share!</p>
  <p>Spotify (tracks and playlists), Soundcloud, Youtube and Mixcloud will be playable using the map!</p>

  <h2>Mobile version</h2>
  <p>Visit <a href="http://putaspot.com/m">putaspot.com/m</a> on your smartphone and start discovering.</p>
</div>

<div id="input">
<h3><label for="url">Paste any URL and press return</label></h3>
<form action="#" method="post" id="submit">
	<input type="text" value="" id="url" name="url" />
	<input type="hidden" name="lat" id="lat" />
	<input type="hidden" name="lng" id="lng" />
	<input id="create_button" style="display: none;" type="button" value="Done" class="btn" />
</form>
</div>

<div id="meta"></div>
<div id="map-container">
  <div id="map_canvas"></div>
</div>
