<div id="input">
<label>Paste any URL:</label>
<form action="" method="post">
	<input type="text" value="" id="url" name="url" />
	<input type="hidden" name="lat" id="lat" />
	<input type="hidden" name="lng" id="lng" />
	<input id="create_button" style="display: none;" type="button" value="Done" />
</form>
</div>

<div id="meta"></div>

<div style="height: 800px;" id="map_canvas"></div>