<!DOCTYPE html>
<html dir="ltr" lang="sv-SE">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="UTF-8" />
		<title>Put a Spot - Mobile</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" type="text/css" media="all" />		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
		<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
		<script type='text/javascript' src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js'></script>
		<script type='text/javascript' src='/js/mobile.js'></script>
	</head>
	<body>
		<div data-role="page" class="type-interior">

				<div data-role="header" data-theme="f">
				<h1>At Your Spot</h1>
			</div><!-- /header -->

			<div data-role="content">
				<div class="content-primary">	
				<ul data-role="listview" id="spots">
				</ul>
				</div><!--/content-primary -->
	</body>
</html>